<section>
  <h1>Tim Hordern</h1>
  <p>I'm a product guy/QA/tester living in New York.</p>

  <p>I am passionate about building really great products and teams. I want us to get better at knowing what to build, working together, designing great products, developing them, testing them and getting them out into the real world.</p>

  <p>I write blog posts about any number of topics under that umbrella: <a href="http://timhordern.com/blog/categories/product-management/">product management</a>, <a href="http://timhordern.com/blog/categories/design/">design</a>, <a href="http://timhordern.com/blog/categories/usability/">usability</a>, <a href="http://timhordern.com/blog/categories/xd/">XD</a>, <a href="http://timhordern.com/blog/categories/testing/">testing</a>, <a href="http://timhordern.com/blog/categories/agile/">agile development</a>, <a href="http://timhordern.com/blog/categories/apple/">Apple</a>, <a href="http://timhordern.com/blog/categories/ios/">iOS</a>, <a href="http://timhordern.com/blog/categories/mobile/">mobiles</a> and any other <a href="http://timhordern.com/blog/categories/technology">technology</a> topics close to my heart.</p>

  <p>I also play <a href="http://timhordern.com/blog/categories/ultimate-frisbee/">ultimate frisbee</a>, <a href="http://mence.vsco.co/">take photos</a> and <a href="http://decafsucks.com/people/20-mence">drink a lot of coffee</a>.</p>

  <p>You can <a href="http://timhordern.com/atom.xml">subscribe</a> to my posts, check out <a href="http://mence.tumblr.com">my Tumblr</a> for some other cool stuff I've found or <a href="http://twitter.com/mence">follow me on Twitter</a>.</p>

  <h3>Want to get in touch with me?</h3>
  <p>It's probably easiest to reach me on <a href="http://twitter.com/mence">Twitter</a>. I'm <a href="http://twitter.com/mence">@mence</a>.</p>
</section>