<section>
  <h1>Contact</h1>
  <p>
    <i class="fa fa-envelope"></i> <b>Email:</b> tim.hordern@gmail.com<br>
    <i class="fa fa-phone"></i> <b>Phone:</b> +1 (443) 839-3635<br>
    <i class="fa fa-twitter"></i> <b>Twitter:</b> <a href="http://twitter.com/mence">@mence</a><br>
    <i class="fa fa-github"></i> <b>GitHub:</b> <a href="http://github.com/mence">mence</a><br>
    <i class="fa fa-tumblr"></i> <b>Tumblr:</b> <a href="http://mence.tumblr.com">Sukoshi</a><br>
    <i class="fa fa-camera-retro"></i> <b>VSCO:</b> <a href="http://mence.vsco.co">mence</a><br>
    <i class="fa fa-linkedin-square"></i> <b>LinkedIn:</b> <a href="http://www.linkedin.com/in/timhordern">Tim Hordern</a>
  </p>
</section>