<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="{{ root_url }}/blog/archives"><i class="fa fa-file-text-o"></i> Archives</a></li>
  <li><a href="{{ root_url }}/about"><i class="fa fa-user"></i> About Me</a></li>
  <li><a href="{{ root_url }}/resume"><i class="fa fa-info-circle"></i> Resume</a></li>
  <li><a href="http://twitter.com/mence"><i class="fa fa-twitter"></i> Twitter</a></li>
  <li><a href="https://github.com/mence"><i class="fa fa-github"></i> GitHub</a></li>
</ul>